.reset {
  border: 0;
  margin: 0;
  padding: 0;
}

@mixin panel-skin($fgColor, $bgColor) {
  .split-pane {
    @extend .reset;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .columns {
      @extend .reset;
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      .column-left {
        @extend .reset;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 50%;
      }

      .column-right {
        @extend .reset;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 50%;
      }

      .column-right .column-container, .column-left .column-container {
        @extend .reset;
        position: relative;
      }
    }
  }
}
